h1{
    font-size: 2em;
    color: purple;
}

h2{
    font-size: 1.5em;
    color: rgba(77, 25, 77, 0.356);
}

h5{
    font-size: 1.5em;
    color: rgba(77, 25, 77, 0.356);
}

body{
    padding-top: 2em;
    padding-bottom: 2em;
}
